/* Style for the admin panel */
.vdomi-container3 {
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

#post-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

#no-results {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center the text horizontally */
  margin: 40px auto; /* Center the element itself */
  font-size: 1.2em; /* Adjust the font size */
  color: #f50e0e; /* Adjust the text color */
  white-space: nowrap; /* Ensure text stays in one line */
}

#post-list .items {
  background-color: #f9f9f9;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px; /* Double the font size */
}

.content {
  width: 600px; /* Fixed width for content block */
  margin: 0 auto; /* Center the content block horizontally */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  word-wrap: break-word; /* Ensures long words break to fit inside the container */
  overflow: hidden; /* Prevents overflow of content */
}

.content span {
  text-align: left;
  display: block;

  margin: 10px 0;
}

.items img {
  max-width: 100%;
  height: auto;
  margin: 10px auto;
  display: block;
}

.items form {
  display: inline-block;
  margin: 10px 5px;
}

.items button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.items button:hover {
  background-color: #ff4c4c;
}