.hero1-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero1-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-actions {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically if the container has a height */
  gap: var(--dl-space-space-unit); 
  width: 100%;
}

.hero1-container1 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.hero1-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: contain;
}


.hero8-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero8-max-width {
  align-self: center;
}
.hero8-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero8-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero8-text {
  text-align: center;
}
.hero8-text1 {
  text-align: center;
}
.hero8-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}


.hero6-max-width {
  align-self: center;
}
.hero6-hero-image {
  width: 100%;
  height: auto;
  max-width: 550px;
  border-radius: var(--dl-radius-radius-radius4);
}
.hero6-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero6-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero6-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.hero11-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero11-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero11-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero11-container1 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.hero11-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}

.hero6-hero-video {
  width: 100%;
  max-height: 300px; /* Set a max height to prevent it from being too tall */
  max-width: 550px;
  border-radius: var(--dl-radius-radius-radius4);
  object-fit: contain; /* Ensure the entire video is visible */
}


.hero81-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero81-max-width {
  align-self: center;
}
.hero81-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero81-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero81-text {
  text-align: center;
}
.hero81-text1 {
  text-align: center;
}
.hero81-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}




