<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags, title, stylesheets, and other head content -->
    <link rel="icon" type="image/png" href="/public/Images/paw.png">
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <!-- Styles -->

    <link rel="stylesheet" href="https://unpkg.com/animate.css@4.1.1/animate.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap" data-tag="font" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" data-tag="font" />

    <link href="public/css/header.css" rel="stylesheet" />
</head>
<body>
    <header data-thq="thq-navbar" class="home-navbar-interactive">
        <a href="/">
          <img
            alt="logo"
            src="/public/Images/paw.png"
            class="home-image"
          />
        </a>
        <p>
          <a href="/">
            <b>МиленициМК</b>
          </a>
        </p>
        <div data-thq="thq-navbar-nav" class="home-desktop-menu">
          <nav class="home-links">
              <a href="/vdomi">
                  <span class="home-text01"><b>Вдоми</b></span>
              </a>
              <a href="/oglas">
                  <span class="home-text02"><b>Оглас</b></span>
              </a>
              <a href="/za-nas">
                  <span class="home-text03"><b>За нас</b></span>
              </a>
              <!-- Vo sluchaj ako e admin se dodava Admin opcija -->
              <% if (isAdmin) { %>
                <a href="/admin">
                    <span class="home-admintext"><b>Админ</b></span>
                </a>
              <% } %>
          </nav>
  
          <!--Opagjachko menu-->
          <div class="home-buttons">
              <div data-thq="thq-dropdown" class="home-thq-dropdown list-item">
                  <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle">
                      <span class="home-user">
                        <!-- Ako e najaven korisnikot se vadi negovoto ime -->
                          <% if (isAuthenticated) { %>
                              <%= username %>
                        <!-- Ako ne e najaven togash pishi Anonimen -->
                          <% } else { %>
                              Анонимен
                          <% } %>
                      </span>
                      <div data-thq="thq-dropdown-arrow" class="home-dropdown-arrow">
                          <svg viewBox="0 0 1024 1024" class="home-icon">
                              <path d="M426 726v-428l214 214z"></path>
                          </svg>
                      </div>
                  </div>
                  <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
                    <!-- Ako e najaven dropdown menito ima opcija Odjava -->
                      <% if (isAuthenticated) { %>
                        <li data-thq="thq-dropdown" class="home-dropdown list-item">
                          <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle1">
                            <button onclick="logout()" class="home-text05">Одјава</button>
                          </div>
                        </li>
                        <!-- Ako ne e najaven ima opcija najava i register -->
                      <% } else { %>
                          <li data-thq="thq-dropdown" class="home-dropdown list-item">
                              <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle1">
                                  <a href="/login">
                                      <span class="home-text05">Најава</span>
                                  </a>
                              </div>
                          </li>
                          <li data-thq="thq-dropdown" class="home-dropdown1 list-item">
                              <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle2">
                                  <a href="/register">
                                      <span class="home-text06">Регистрација</span>
                                  </a>
                              </div>
                          </li>
                      <% } %>

                      <!--<li data-thq="thq-dropdown" class="home-dropdown2 list-item">
                          <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle3">
                              <span class="home-text07">Sub-menu Item</span>
                          </div>
                      </li> -->
                  </ul>
              </div>
          </div>
      </div>
      </header>

    <script src="/public/js/logout.js"></script>
</body>
</html>
