<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Naslov i logo-->
    <link rel="icon" type="image/png" href="/public/Images/paw.png">
    <title>ZaNas</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />

        <link rel="stylesheet" href="/public/css/style.css" />
        <link href="/public/css/za-nas.css" rel="stylesheet" />
        <link href="/public/css/header.css" rel="stylesheet" />
        <link href="/public/css/footer.css" rel="stylesheet" />
  </head>
  <body>
    <div>

      <div class="za-nas-container">
        
        <!-- Header -->
        <%- include('header') %>

        <div class="thq-section-padding">
          <div class="hero7-max-width thq-section-max-width">
            <div class="hero7-content">
              <h1 class="hero7-text thq-heading-2"><span>За нас</span></h1>
              <p class="hero7-text1 thq-body-large">
                <span>
                  Нашата цел е подобрување и забрзување на процесот на вдомување
                  на вашите миленици или уличните животинчиња. Оваа веб страница
                  нема никаква намера за прифитирање врз тој процес, затоа ве
                  молиме не ја злоупотребувајте. Страната е креирана и одржувана
                  од една личност, за секакви багови ве молиме бидете трпеливи.
                  Во случај се сретнавте со некој баг или имате некаква идеа за
                  подобрување на веб страната ве молиме пополнете го формуларот
                  подолу.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="contact-form11-contact11 thq-section-padding">
          <div class="contact-form11-content">
            <a href="mailto:siljanovski.mihail@uklo.edu.mk">
              <img
              alt="SendMail"
              src="public/Images/mail.png"
              />
            </a>
            <div class="contact-form11-contact-info">
              <h3 class="thq-heading-3"><a href="mailto:siljanovski.mihail@uklo.edu.mk">Email</a></h3>
              <span class="contact-form11-email thq-body-small">
                <span> <a href="mailto:siljanovski.mihail@uklo.edu.mk">siljanovski.mihail@uklo.edu.mk</a></span>
              </span>
            </div>
          </div>
          <div class="contact-form11-max-width thq-section-max-width">
            <div class="contact-form11-content1">
              
              <!-- Forma za Reports -->
              <!-- Podatocite se pushtat do /submit-report -->
              <form id="reportForm" class="contact-form11-form thq-card" method="POST" action="/submit-report">
                <div class="contact-form11-input">
                  <label for="contact-form-11-message" class="thq-body-small">
                    <span>Порака</span>
                    <br />
                  </label>
                  <textarea
                    id="contact-form-11-message"
                    name="report_text"
                    rows="3"
                    placeholder="Внесете ја вашата жалба/пофалба"
                    class="contact-form11-textarea thq-input"
                  ></textarea>
                </div>
                <!-- Dugme za Submit na reports -->
                <button type="submit" class="thq-button-filled">
                  <span class="thq-body-small"><span>Прати</span></span>
                </button>
              </form>
            </div>
          </div>

        </div>
        <div class="hero12-header76">
          <div class="hero12-max-width thq-section-max-width">
            <div class="hero12-column thq-section-padding">
              <h1 class="thq-heading-1 hero12-text">
                <span>WoofWoofBitola Мобилна Апликација</span>
              </h1>
              <p class="thq-body-large hero12-text1">
                <span>
                  Разгледајте ја нашата мобилна апликација WoofWoofBitola.
                  Нејзината намена е грижа за улличните кучиња во Битола. Можете
                  да ги разгледате сите чипирани кучиња и да пријавите
                  нечипирано куче. Кликнете на копчето Превземи за да ја
                  превземите нашата Demo верзија од мобилната апликација
                </span>
              </p>
              <div class="hero12-actions">

                <!-- Dugme za File Download -->
                <a href="/download-file">
                  <button class="thq-button-filled hero12-button">
                    <span class="thq-body-small"><span>Превземи</span></span>
                  </button>
                </a>
              </div>
            </div>
            <div class="hero12-content">
              <div class="hero12-column1">
                <img
                  alt="Hero Image"
                  src="public/Images/mobapp2.png"
                  class="hero12-placeholder-image "
                />
              </div>
              <div class="hero12-column2">
                <img
                  alt="Hero Image"
                  src="public/Images/moblogo.png"
                  class="hero12-placeholder-image1"
                />
                <img
                  alt="Hero Image"
                  src="public/Images/mobapp1.png"
                  class="hero12-placeholder-image2"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <%- include('footer') %>

      </div>
    </div>

    <!-- Scripti -->
    <script src="/public/js/report.js"></script>
  </body>
</html>
